
.form{
	
	background-color: DodgerBlue;
	margin-left: 25%;
    margin-right:25%;
    width: 50%;
}
.pbSection{

	background-color: Tomato;
}
.image{
	
	text-align: center;
	width: 300;
	height: 300;
}
.buttons{
	
	text-align: center;
}
page:  inputfield{
	
}
	